# dependencies
/node_modules
/.pnp
.pnp.*

# next
/.next/
/.next-*/
/out/
/build/

# production
/dist

# env
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
Thumbs.db
/.kitmotion-dev.lock

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/coverage
/playwright-report
/test-results
/blob-report
/playwright/.cache
/tmp/

# supabase
/supabase/.branches
/supabase/.temp

# editor
.vscode/*
!.vscode/extensions.json
.idea
